@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Abeezee", sans-serif;
}

/* header */
header {
    background-color: #885A5A;
    font-family: "Sansita", system-ui;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin-left: 20px;
    height: fit-content;
    width: 100%;
    margin-top: 30px;
    
}

h1 ~ h2 {
    font-size: medium;
    margin: 0 0 40px 20px;
    height: fit-content;
    width: 100%;
}

#cover-home {
    background: url("../images/climbing-cover-cropped.webp") center center/cover;
    width: 100%;
    height: 130px;
}

#navbar {
    position: absolute;
    width: 100%;
    height: 25px;
    align-self: flex-end;
    text-align: end;
    background-color: rgba(18, 16, 14, 0.8);
}

#navbar a {
    color: #edbd79;
    text-decoration: none;
    padding: 0 20px;
    
}

/* popup get help window */
#open-help-window {
    position: fixed;
    z-index: 500;
    background-color: rgba(18,16,14,0.5);
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help-window {
    background-color: rgba(18, 16, 14, 0.8);
    padding: 10px 30px;
    width: min-content;
    height: fit-content;
    color: #EEE5E9;
    text-align: center;
    line-height: 25px;
    position: absolute;
    box-shadow: 2px 2px 2px #000000;
}

#help-window input {
    width: 100%;
}

input[type="submit"] {
    background-color: #edbd79;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: #edbd79;
}

/* closing "button" */
#help-window a {
    float: right; 
    color: #edbd79;
}

#open-help-window:target {
    visibility: visible;
}

#success-message {
    position: fixed;
    z-index: 500;
    background-color: rgba(18, 16, 14, 0.5);
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#success-message:target {
    visibility: visible;
}

#got-message {
    background-color: rgba(18, 16, 14, 0.8);
    padding: 10px 25px;
    width: max-content;
    height: fit-content;
    color: #EEE5E9;
    text-align: center;
    line-height: 30px;
    font-size: large;
    position: absolute;
    box-shadow: 2px 2px 2px #000000;
}

#got-message a {
    color: #edbd79;
    text-decoration: none;
    float: right;
}
/* main */
main {
    flex: 1 0 auto;
    background-color: #faf0df;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-content {
    margin-right: 20px;
    padding: 15px;
    text-align: justify;
    line-height: 20px;
}

main h2 {
    padding: 10px 0;
}

#back-to-top {
    text-decoration: none;
    color: #12100E;
    right: 5px;
    position: fixed;
    text-align: center;
    bottom: 46px;
}

#about-us {
    display: flex;
    flex-wrap: wrap;
}

.main-content p {
    text-indent: 15px;
}

#about-us img {
    height: 100%;
    width: 100%;
    vertical-align: baseline;
    border-radius: 20px;
    margin-bottom: 10px;
}


/* footer */
footer {
    background-color: #12100E;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding: 5px 0;
}

#footer a{
    color: #EEE5E9;
}