@media screen and (min-width:768px) {

    /* header */
    .cover-home,
    .cover-advice {
        height: 350px;
    }

    /* general rules */
    h1 {
        font-size: 500%;
        margin-left: 20px;
        width: 100%;
        margin-top: 100px;
    }

    h1~h2 {
        font-size: xx-large;
        margin: 0 0 100px 20px;
        width: 100%;
    }

    .navbar {
        width: 100%;
        height: fit-content;
    }

    .navbar a {
        font-size: 200%;
    }

    /* get help window */
    #help-window,
    #got-message {
        font-size: 25px;
        padding: 3% 8%;
    }

    #help-window input {
        height: 35px;
        font-size: 80%;
    }

    input,
    textarea {
        margin: 10px 0;
    }

    textarea {
        width: 350px;
        font-size: 80%;
    }

    #got-message p {
        padding: 10px 0;
    }

    /* about us content */
    #about-us {
        display: block;
    }

    #first-paragraph {
        width: 100%;
        margin-top: 20px;
    }

    #group-pic {
        float: left;
        height: 50%;
        width: 50%;
        padding: 20px;
        margin: 0;
        border-radius: 50px;
    }

    /* advice section */

    .article-selection{
        display: flex;
        flex-direction: column;
    }

    .clickable-img {
        width: 30%;
        height: auto;
        border-radius: 50%;
        border-color: #12100E;
    }

    .article-selection a {
        text-decoration: none;
        color: #12100E;
        display: flex;
        align-items: center;
        
    }

    .text-aligned {
        width: fit-content;
        padding-left: 20px;
        font-size: medium;
    }

    .text-aligned h3 {
        font-size: large;
    }

    .text-aligned p {
        display: block;
    }

    /* general style for articles */
    .content-image {
        height: 350px;
        width: 350px;
    }

    .article-style {
        display: block;
        margin: 0 auto;
    }

    /* climbing types article */
    /* choosing shoe article */

    h4 {
        padding: 10px 12px;
    }


    #shoe-feat {
        height: auto;
        width: 80%;
    }

    #neutral,
    #aggressive {
        float: left;
    }

    #moderate {
        float: right;
    }

    #moderate-heading {
        text-align: end;
    }

    .img-2 {
        height: 40px;
    }

    .shapes p {
        padding: 15px;
        margin: 12% 0;
    }

    .shapes h4 {
        padding: 0 12px;
    }


}