@media screen and (min-width:992px) {

    html {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fbf6ee;
    }

    /* hover effects */
    .navbar a:hover {
        color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #12100E;
    }

    .article-selection a:hover {
        color: #885A5A;
        transform: scale(1.05);
        text-shadow: 1px 1px 2px #12100E;
    }

    .footer a:hover {
        color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #12100E;
    }

    a:hover#back-to-top {
        color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #12100E;
    }

    #got-message a:hover,
    #help-window a:hover {
        color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #12100E;
    }

    input[type="submit"]:hover {
        background-color: #885A5A;
        border-color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #fbf6ee;
    }

    /* advice page */

    .clickable-img {
        width: 20%;
    }

    .text-aligned h3 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .text-aligned p {
        font-size: 20px;
    }

    /* style for images on choosing shoe article */
    #moderate-heading {
        text-align: start;
    }

    #moderate,
    #aggressive,
    #neutral {
        float: none;
    }

    #shoe-feat {
        max-width: 750px;
    }

    .shoe-shape,
    .img-2 {
        display: inline-block;
        margin: 0 30px;
    }

    .shapes {
        text-align: center;
    }

    .shapes p,
    .shapes h4 {
        margin: 20px 0;
        text-align: justify;
    }


}