@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Abeezee", sans-serif;
}

/* header */
header {
    background-color: #885A5A;
    font-family: "Sansita", system-ui;
    position: relative;
}

#cover-home {
    background: url("../images/climbing-cover-cropped.webp") center center/cover;
    width: 100%;
    height: 130px;
}

#navbar {
    position: relative;
    vertical-align: bottom;
}

/* main */
main {
    flex: 1 0 auto;
    background-color: #CCA43B;
    display: flex;
    flex-direction: column;
}

#open-help-window {
    position: fixed;
    z-index: 500;
    background-color: rgba(18,16,14,0.5);
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;

}

#help-window {
    background-color: rgba(18, 16, 14, 0.8);
    padding: 20px;
    width: min-content;
    height: fit-content;
    color: #EEE5E9;
}

/* closing "button" */
#help-window a {
    text-decoration: none;
    color: #CCA43B;
    float: right;
}

#open-help-window:target {
    visibility: visible;
}

#success-message {
    position: fixed;
    z-index: 500;
    background-color: rgba(18, 16, 14, 0.5);
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#success-message:target {
    visibility: visible;
}

#got-message {
    color: rgb(105, 162, 151);
}

#about {
    background-color: rgb(105, 162, 151);
}

#about-us img {
    height: 50%;
    width: 50%;
    vertical-align: baseline;
    border-radius: 20px;
}


/* footer */
footer {
    background-color: #12100E;
    color: #EEE5E9;
}