@media screen and (min-width:992px) {

    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    .navbar a:hover {
        color: #885A5A;
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #12100E;
    }

    #moderate-heading {
        text-align: start;
    }

    #moderate,
    #aggressive,
    #neutral {
        float: none;
    }

    .shoes-image {
        display: inline-block;
        margin: 0 10%;
    }

    .shapes {
        text-align: center;
    }

    .shapes p,
    .shapes h4 {
        margin: 20px 0;
        text-align: justify;
    }

}